.drop-or-select{
  /* font-size: 1.3em; */
  /* padding: 10px 15px; */
  border: 1px solid black;
  border-radius: 5px;
  width:50%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#file-input-label {
  background-color: rgb(0, 73, 128);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  /* transition: all 0.2s ease-in; */
}
#file-input-label:hover {
  background-color: rgba(0, 73, 128, 0.735);

}
/* #file-input-label label {
  margin:auto;
} */
#file-input {
  display: none;
}
